/* IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Noto+Sans+Cypro+Minoan&family=Roboto+Condensed&family=Titillium+Web:wght@200;300&family=Victor+Mono:ital,wght@0,200;0,300;1,100;1,200;1,300&family=Ysabeau+Infant:wght@200&display=swap');
/* IMPORT */


/* RESET CSS */
*{
margin: 0;
padding: 0;
text-decoration: none;
}
/* RESET CSS */


/* HTML, BODY */
html, body{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
/* HTML, BODY */



/* BODY CONTAINER */
.container{
display: flex;
flex-direction: column;
justify-content: space-between;
font-family: 'Abel', sans-serif;
font-family: 'Noto Sans Cypro Minoan', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Titillium Web', sans-serif;
font-family: 'Victor Mono', monospace;
font-family: 'Ysabeau Infant', sans-serif;
background-color: #f1f0de;
}
/* BODY CONTAINER */

/* Navbar */
.navbarContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.navbarLogo{
background: url(./components/images/logo.jpg);
background-size: cover;
width: 128px;
height: 128px;
}
.cartContainer{

}
.cartIcon{
  color: #e54423;
}
.cartCounter{
color: #d3381f;
}
/* Navbar */



/* Footer */
.footerContainer{
  color: #f1f0de;
  padding: 1em;
  background-color: #e54423;
text-align: center;  
}
/* Footer */


/* Main */
.mainContainer{
display: flex;
justify-content: center;
align-items: start;
}

/* Main */

/* Products List */
.productListContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}
.productListContainer:first-child{
  margin-top: 1em;
}
.productListContainer:last-child{
  margin-bottom:1em;
}
.productItemCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
padding: 1em;
width: 300px;
transition:0.5s;
gap: 0.3em;
}
.productItemCard:hover{
  box-shadow: inset -0.2em -0.2em 1em 0em #e54423;
  transition:0.5s;
  transform: translateY(-0.5em);
}
.productItemCard h1{
  color:#e64322;
  font-weight: 100;
  text-align: center;
  width: 100%;
}
.productImage{
  width: 256px;
  height: 256px;
cursor: pointer;

}
.productBtn{
  display: block;
  background-color: #e64322;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}
.productBtn:hover{
  background-color: #d3381f;

}
/* Products List */

/* Cart Page */
.cart-container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0px 0px 10px #d3381f;
  padding: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
  padding: 10px;
}

.product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.product-details {
  flex: 1;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
}

.product-price {
  font-size: 16px;
  color: #e64322;
}

.product-quantity {
  font-size: 12px;
  color: #d3381f;
}

.cart-total {
  text-align: right;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #e64322;
}

.checkout-button {
  display: block;
  margin-top: 20px;
  background-color: #e64322;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.checkout-button:hover {
  background-color: #d3381f;
}
.cartDeleteBtn{
  text-align: end;
  width: 100%;
  color: #d3381f;
  cursor: pointer;
}
.noItemsCart{
  font-size: 32px;
  color: #d3381f;
  font-weight: 100;
}
/* Cart Page */

/* Finish Purchase */

.containerPurchase {
  max-width: 400px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 400px;
}
.form-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #e64322;
}

.form-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #e64322;
}

.form-input {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #e64322;
  border-radius: 5px;
  font-size: 16px;
}

.submit-btn {
  background-color: #e64322;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
}

.submit-btn:hover {
  background-color: #d3381f;
}

/* Finish Purchase */


/* Product Detail */
.containerDetail{
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerDetailCard {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.productDetailImage {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.productDetailTitle {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  color: #e64322;
}



.productDetailPrice {
  font-size: 20px;
  margin-top: 10px;
  color: #e64322;
}

.orderButton {
  display: block;
  margin-top: 20px;
  background-color: #e64322;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

.orderButton:hover {
  background-color: #d3381f;
}
/* Product Detail */




/* MEDIA QUERIES */
@media (max-width:1200px) {
 .productListContainer{
grid-template-columns: 1fr 1fr;
 }
}
@media (max-width:768px) {
  .productListContainer{
    grid-template-columns: 1fr;
     }
}
/* MEDIA QUERIES */

